# packaging
pip
setuptools>=26
wheel>=0.29

# data science

gpt-2-simple==0.8.1
tensorflow>=2.9.0

# tests/linter
black
pytest

# API
gcsfs
google-cloud-storage
mlflow
s3fs
fastapi==0.78.0
uvicorn==0.18.2

# utilities
six>=1.14
memoized-property
termcolor

# scraping
praw == 7.6.0
